[submodule "containers"]
	path = containers
	url = git@github.com:volartm/containers.git
[submodule "thinknetica-microservices"]
	path = containers
	url = git@github.com:volartm/thinknetica-microservices.git
